.icon{
    display: flex;

}
.icon img{
    height: 45px;

}
.icon2 img{
  margin-top: 10%;  
  margin-left: -5%;
    height: 250px;

}
.navbar{

	  background-color: #e5e8e8;
}

.items{

  width: 100%;
	  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.btn-success:hover,.btn-success:active, .btn-success:focus {
   box-shadow: none !important;
  color: #ffffff !important;
  background-color: #008d97 !important;
  border-color: #008d97 !important;
}
.btn-success{

   background:#00a5b0;
      border-color: #00a5b0;
     color: #fff;
}
.datos{

display: flex;
  justify-content: center;
}
