@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
html {
  overflow-x: hidden;
}
.icon{
    display: flex;

}
.icon img{
    height: 150px;
    margin-bottom: 20%;
}
.panel-default {


margin-top: 30%;
}
.text-white{
  color: white !important;
}
.panel-body{
  display: flex;
  justify-content: center;
  align-items: center;
    color: black;
}
.fondo{
  background-color: #061649;
  background: url("zapato.jpg") no-repeat center;
  background-size: cover;
   width: 100%;
  height: 100vh;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #abacae;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
     color: black;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}


.btn-primary:hover,.btn-primary:active, .btn-primary:focus {
   box-shadow: none !important;
  color: #ffffff !important;
  background-color: #008d97 !important;
  border-color: #008d97 !important;
}
.btn-primary{
   background:#00a5b0;
    border-color: #00a5b0;
}
